<container>

  <div class='row'>

    <div class='col-md-7 col-md-offset-1'>
      <div class='subview-version'>
      </div>
    </div>

    <div class='col-md-3'>
      <br>
      <button class="btn btn-warning btn-lrg" id="return-to-root">back to home</button>
      <br><br>
      <br>Creator: <select class="creator" name="creator">

        <option value=""></option>
        <% potentialCreators && potentialCreators.each(function (potentialCreator) { %>
          <% var sel = (creator == potentialCreator.id) ? "selected" : "" %>
          <option value="<%= potentialCreator.id %>" <%= sel %> >
            <%= potentialCreator.escape("email") %>, id <%= potentialCreator.id %>
          </option>
        <% }); %>
      </select>

      <br>Liker: <select class="liker" name="liker">
        <option value=""></option>

        <% potentialLikers && potentialLikers.each(function (potentialLiker) { %>
          <% var sel = (liker == potentialLiker.id) ? "selected" : "" %>
          <option value="<%= potentialLiker.id %>" <%= sel %> >
            <%= potentialLiker.escape("email") %>, id <%= potentialLiker.id %>
          </option>
        <% }); %>
      </select>

      <br>by rhythm string: <input type="text"
        class="rhythm-str" value="<%= rhythm_str %>">

      <!--<br>by rhythm id: <input type="text" class="rhythm-id">-->

    </div>

<container>
