<container>

  <div class='row'>

    <div class='col-md-7 col-md-offset-1'>
      <div class='subview-version'>
      </div>
    </div>

    <div class='col-md-3'>
      Filter results by:
      <br>Similar to current rhythm: <%= cur_rhythm.get("rhythm_str") %>
      <br>Creator: <select class="creator" name="creator">

        <option value=""></option>
        <% users && users.each(function (user) { %>
          <% var sel = (creator == user.id) ? "selected" : "" %>
          <option value="<%= user.id %>" <%= sel %> >
            <%= user.escape("email") %>, id <%= user.id %>
          </option>
        <% }); %>
      </select>

      <br>Liker: <select class="liker" name="liker">
        <option value=""></option>

        <% users && users.each(function (user) { %>
          <% var sel = (liker == user.id) ? "selected" : "" %>
          <option value="<%= user.id %>" <%= sel %> >
            <%= user.escape("email") %>, id <%= user.id %>
          </option>
        <% }); %>
      </select>

      <br>by rhythm string: <input type="text" class="rhythm-str" value="<%= rhythm_str %>">

      <!--<br>by rhythm id: <input type="text" class="rhythm-id">-->

    </div>

<container>
