<container>

  <div class='row'>

    <div class='col-md-4'>
      <ol class='subview-version'>
      </ol>
    </div>

    <div class='col-md-4'>
      Filter results by:
      <br>Similar to current rhythm: <%= cur_rhythm.get("rhythm_str") %>
      <br>Creator: <select class="creator" name="creator">

        <option value=""></option>
        <% users && users.each(function (user) { %>
          <% var sel = (creator == user.id) ? "selected" : "" %>
          <option value="<%= user.id %>" <%= sel %> >
            <%= user.escape("email") %>, id <%= user.id %>
          </option>
        <% }); %>
      </select>

      <br>Liker: <select class="liker" name="liker">
        <option value=""></option>

        <% users && users.each(function (user) { %>
          <% var sel = (liker == user.id) ? "selected" : "" %>
          <option value="<%= user.id %>" <%= sel %> >
            <%= user.escape("email") %>, id <%= user.id %>
          </option>
        <% }); %>
      </select>


    </div>

<container>
