<% form_action = new_user ? users_url : session_url %>
<% form_message = new_user ? "Sign Up" : "Sign In" %>
  <br><br><br><br>
  <form action="<%=form_action%>" method="POST" class="creds_form">

    <input type="hidden"
  name="authenticity_token"
  value="<%=form_authenticity_token%>">

    <div class="input">
      <label for="form-email">Email</label>
      <input type="text" id="form-email" name="user[email]" value="<%=user.email%>">
    </div>

    <div class="input">
      <label for="form-password">Password</label>
      <input type="password" id="form-password" name="user[password]">
    </div>

    <div class="submit">
      <button class="btn btn-primary btn-lg"><%= form_message %></button>
    </div>


  </form>
  <div style="width: 100%; text-align: center">
  <%= button_to "cancel", root_url, method: :get, class: "btn btn-default" %>
  </div>
