<h5>Basic</h5>

<div class="TEDAS_box">
  <% sum = 0 %>
  <% rhythm.get("durational_pattern") && rhythm.get("durational_pattern").forEach(function(interval_duration, index) { %>

    <div class="TEDAS_sq" ord="<%= sum %>"
          style="height: <%= interval_duration * heightPixelsUnit %>px;
                width: <%= interval_duration * widthPercentageUnit %>%;
                left: <%= (sum ) * widthPercentageUnit %>%;
                bottom: 0px">
    </div>
    <% if (rhythm.get("contour")[index] === "+") { %>
      <i class="glyphicon glyphicon-circle-arrow-up" ord="<%= sum %>"
            style="left: <%= (((sum ) + interval_duration) * widthPercentageUnit) - 3 %>%;
                   bottom: <%= interval_duration * heightPixelsUnit %>%">
      </i>
    <% } else if (rhythm.get("contour")[index] === "-") { %>
      <i class="glyphicon glyphicon-circle-arrow-down" ord="<%= sum %>"
            style="left: <%= (((sum ) + interval_duration) * widthPercentageUnit) - 3 %>%;
                   bottom: <%= interval_duration * heightPixelsUnit %>%">
      </i>
    <% } else { %>
      <i class="glyphicon glyphicon-record" ord="<%= sum %>"
            style="left: <%= (((sum) + interval_duration) * widthPercentageUnit) - 3 %>%;
                   bottom: <%= interval_duration * heightPixelsUnit %>%">
      </i>
    <% } %>

    <% sum += interval_duration %>

  <% }) %>
</div>
