<span class="analysis-title"><h5 class='metrical-hierarchy'>metrical hierarchy</h5></span>

<div class="MH_box">
  <% rhythm.get("metric_hierarchy") && rhythm.get("metric_hierarchy").forEach(function(beat_weight, h_index) { %>
    <% if (rhythm.get("rhythm_str")[h_index] === "x") { %>
      <% var colorClass = "onset" %>
    <% } else { %>
      <% var colorClass = "rest" %>
    <% } %>

    <% for (v_index = 0; v_index < beat_weight; v_index++ ) { %>


      <div class="MH_sq <%= colorClass %>" ord="<%= h_index %>" count="<%= beat_weight %>"
          style="left: <%= (h_index * widthPercentageUnit) %>%;
                                 bottom: <%= v_index * heightPixelsUnit %>px;
                                 height: <%= heightPixelsUnit %>px;
                                 width: <%= widthPercentageUnit %>%;">

      </div>
    <% } %>

  <% }) %>
</div>

<!--<span class="info-icon" data-detailsviewname="templateMeter">i</span>-->
