<span class="analysis-title"><h5>adjacent intervals</h5></span>

<div class="AIC_box">
  <% rhythm.get("adjacent_interval_content") && rhythm.get("adjacent_interval_content").forEach(function(duration_count, h_index) { %>
    <% for (v_index = 0; v_index < duration_count; v_index++ ) { %>
      <div class="AIC_sq" ord="<%= sum %>"
            style="height: <%= heightPixelsUnit %>px;
                  width: <%= widthPercentageUnit %>%;
                  left: <%= ((h_index - 1) * widthPercentageUnit) + 5 %>%;
                  bottom: <%= (v_index) * heightPixelsUnit %>px">
      </div>
    <% } %>
  <% }) %>
</div>

<span class="info-icon" data-detailsviewname="templateOnset">i</span>
