<!--<button>Play</button>-->
<!--<img src="rounded-play-button_318-9366.jpg"></img>-->

<!--<%= image_tag "rounded-play-button_318-9366.jpg" %>-->
<%= audio_tag "clave.wav" %>
<%= audio_tag "clave.wav" %>
<%= audio_tag "clave.wav" %>
<%= audio_tag "clave.wav" %>



<div class='backdrop'>
  <%#= image_tag "Free-High-Detail-Brown-Paper-Texture.jpg" %>
</div>

<interface>
  tempo<br>
  <input type="text" value="125"><br><br>
  <button class="btn btn-warning">Play</button>
</interface>

<div class='wrapper'>

  <div class='rhythm-ring' oncontextmenu="return false;">
  </div>

  <%#= image_tag "Play_small.png", size: "50x50" %>

  <canvas id='polygon-canvas' height='400' width='400'>
  </canvas>

</div>
<div class='slider'></div>
