<!--<button>Play</button>-->
<!--<img src="rounded-play-button_318-9366.jpg"></img>-->

<!--<%= image_tag "rounded-play-button_318-9366.jpg" %>-->
<%= audio_tag "clave.wav" %>
<%= audio_tag "clave.wav" %>
<%= audio_tag "clave.wav" %>
<%= audio_tag "clave.wav" %>

<div class='backdrop'>
  <%#= image_tag "Free-High-Detail-Brown-Paper-Texture.jpg" %>
</div>

<div class='wrapper'>

  <div class='rhythm-ring' oncontextmenu="return false;">
  </div>

  <canvas id='polygon-canvas' height='600' width='600'>
  </canvas>

</div>
