<div class="FIC_info_box">
  <ul>
    <li>full interval content entropy: <%= rhythm.get("full_interval_content_entropy") %></li>
    <li>interval vector: <%= rhythm.get("interval_vector") %></li>

    <li id="f_i_c">full interval content: <%= rhythm.get("full_interval_content") %></li>

    <% if (rhythm.get("perfectly_flat?")) { %>
      <li>perfectly flat</li>
    <% } else if (rhythm.get("flat?")) { %>
      <li>flat</li>
    <% } %>

    <% if (rhythm.get("deep?")) { %>
      <li>deep</li>
    <% } else if (rhythm.get("has_all_intervals?")) { %>
      <li>has all intervals</li>
    <% } %>

    <li>tallness: <%= rhythm.get("tallness") %></li>
    <li>shallowness: <%= rhythm.get("shallowness") %></li>
    <li>distinct durations: <%= rhythm.get("distinct_durations") %></li>
    <li>onset_distinct_distance_complexity: <%= rhythm.get("onset_distinct_distance_complexity") %></li>
    <li>shelling_count: <%= rhythm.get("shelling_count") %></li>
  </ul>
</div>
