<%= JST['info/_details']({rhythm: rhythm}) %>

<%= JST['info/_name_form']() %>

<br>
<button class="view-creations" value="<%= rhythm.get("creator_id") %>" >
  Check out this user's other rhythms!
</button>

<%= JST['info/_likes']({rhythm: rhythm}) %>

<%= JST['info/_comments']({rhythm: rhythm, enabled: true}) %>
