<!DOCTYPE html>
<html>
<head>
  <title>geometrhythm</title>
  <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <!-- noooo!
  <link href="/assets/application.css" type="text/css">-->
  <!-- yesss! -->
  <!--<%#= stylesheet_link_tag "application" %>-->
</head>
<body>

  <%= audio_tag "clave.wav" %>
  <%= audio_tag "clave.wav" %>
  <%= audio_tag "clave.wav" %>
  <%= audio_tag "clave.wav" %>

  <input type='hidden' id='current-rhythm' value=''>
  <input type='hidden' id='cur-rhythm-id' value=''>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand" href="#/rhythms">
          <%= image_tag "header_logo_dark.png", size: "292x45"%>
        </a>


        <div class="font_preload" style="opacity: 0">
          <span style="font-family: 'Glyphicons Halflings', Arial, sans-serif;"></span>
        </div>



        <i class="glyphicon glyphicon-log-in"></i>
        <ul class="nav navbar-nav navbar-right">

          <li>
            <% if logged_in? %>
              <%= "Signed in as #{ current_user.email}" %>
              <input type='hidden' id='cur-user-id' value='<%=current_user.id%>'>
              <%= button_to "Sign Out", session_url,
                method: :delete, class: "btn btn-primary btn-sm" %>
            <% else %>
              <%= button_to "Sign In", new_session_url,
                method: :get, class: "btn btn-primary btn-sm" %>
            <% end %>
          </li>

          <span style="padding: 0px 15px">
          <% if !logged_in? %>
            <li>
              <%= button_to "Sign In As Guest", session_url,
                params: {:"user[email]" => "guest@geometrhythm.com",
                  :"user[password]" => "password" },
                class: "btn btn-success btn-sm" %>
            </li>
            <li>
              <%= link_to "or sign up", new_user_url %>
            </li>
          <% end %>
          </span>
        <ul>
      </div>
    </div>
  </nav>

<%= render "layouts/flash_notices" %>


<%= yield %>

</body>
</html>
