<!DOCTYPE html>
<html>
<head>
  <title>geometrhythm</title>
  <link href='http://fonts.googleapis.com/css?family=Maven+Pro:400,900,700,500' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= audio_tag "clave.wav" %>
  <%= audio_tag "clave.wav" %>
  <%= audio_tag "clave.wav" %>
  <%= audio_tag "clave.wav" %>

  <input type='hidden' id='cur-rhythm-id' value=''>
  <input type='hidden' id='current-rhythm' value=''>

  <nav class="navbar navbar-default" style="min-height: 80px">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand" href="/#">
          <%= image_tag "header_logo_dark.png", size: "292x45"%>
        </a>

        <div class="font_preload" style="opacity: 0">
          <span style="font-family: 'Glyphicons Halflings', Arial, sans-serif;"></span>
        </div>

        <i class="glyphicon glyphicon-show-thumbnails"></i>
        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="#/rhythms" style="margin: 10px 0px">
              browse rhythms
              <%= image_tag "thumbnail_icon.png" %>
            </a>
          </li>

          <% if logged_in? %>
            <li class="who-you-are">
            Signed in as <strong><%= current_user.email %></strong>
            <input type='hidden' id='cur-user-id' value='<%=current_user.id%>'>
          </li>
          <% end %>

          <% if !logged_in? %>
            <li>
              <br>
              <%= button_to "Sign In As Guest", session_url,
                params: {:"user[email]" => "guest@geometrhythm.com",
                  :"user[password]" => "password" },
                class: "btn btn-warning btn-sm d-tt give-me-space" %>
            </li>
            <li>
              <br>
              <%= button_to "Sign Up", new_user_url, method: :get,
                class: "btn btn-primary btn-sm give-me-space" %>
            </li>
          <% end %>

          <li class="what-you-are">
            <% if logged_in? %>
              <%= link_to "sign out", session_url, method: :delete %>
            <% else %>
              <%= link_to "or sign in", new_session_url, method: :get %>
            <% end %>
          </li>

        <ul>
      </div>
    </div>
  </nav>

<%= render "layouts/flash_notices" %>


<%= yield %>

</body>
</html>
