<!DOCTYPE html>
<html>
<head>
  <title>geometrhythm</title>
  <%= favicon_link_tag 'geometrhythm.ico' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Maven+Pro:400,900,700,500', type: 'text/css' %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% 4.times do %>
    <%= audio_tag "clave.mp3", class: "audio-mp3" %>
    <%= audio_tag "clave.wav", class: "audio-wav" %>
  <% end %>

  <input type='hidden' id='cur-rhythm-id' value=''>
  <input type='hidden' id='current-rhythm' value=''>

  <nav class="navbar navbar-default" style="min-height: 80px">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <a class="navbar-brand" href="/#">
          <%= image_tag "header_logo_dark.png", size: "292x45"%>
        </a>

        <div class="font_preload" style="opacity: 0">
          <span style="font-family: 'Glyphicons Halflings', Arial, sans-serif;">
          </span>
        </div>

        <i class="glyphicon glyphicon-show-thumbnails"></i>

        <ul class="nav navbar-nav navbar-right">

          <li>
            <a href="#" style="margin: 14px 0px; cursor: hover"
               class="js-modal-open">
               video tutorial
            </a>
          </li>

          <li style="cursor: hover" class='browse'>
            <a href="#" style="margin: 14px 0px; cursor: hover">
              browse rhythms
            </a>
          </li>

          <% if logged_in? %>
            <li class="who-you-are">
            Signed in as <strong><%= current_user.email %></strong>
            <input type='hidden' id='cur-user-id' value='<%=current_user.id%>'>
          </li>
          <% end %>

          <% if !logged_in? %>
            <li>
              <br>
              <%= button_to "Sign In As Guest", session_url,
                params: {:"user[email]" => "guest@geometrhythm.com",
                  :"user[password]" => "password" },
                class: "btn btn-warning btn-sm d-tt give-me-space" %>
            </li>
            <li>
              <br>
              <%= button_to "Sign Up", new_user_url, method: :get,
                class: "btn btn-success btn-sm give-me-space" %>
            </li>
          <% end %>

          <li class="what-you-are">
            <% if logged_in? %>
              <%= link_to "sign out", session_url, method: :delete %>
            <% else %>
              <%= link_to "or sign in", new_session_url, method: :get %>
            <% end %>
          </li>

        <ul>

      </div>
    </div>
  </nav>

<%= render "layouts/flash_notices" %>

<%= yield %>

<div class="modal">
    <form class="modal-form">
      <span class="modal-close js-modal-close">&times;</span>
      <br><br>
      <iframe src="//player.vimeo.com/video/120308828"
              width="1000" height="626"
              frameborder="0"
              webkitallowfullscreen mozallowfullscreen allowfullscreen>
      </iframe>
    </form>
    <div class="modal-screen js-modal-close"></div>
  </div>

  <script>
  $(function(){
    $("body").on("click", ".js-modal-open", function(event){
      event.preventDefault();
      $(".modal").addClass("is-open");
    });
    $("body").on("click", ".js-modal-close", function(event){
      event.preventDefault();
      $(".modal").removeClass("is-open");
    });
  });
  </script>

</body>
</html>
